<%= form_for(@foaf) do |f| %>
  <% if @foaf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foaf.errors.count, "error") %> prohibited this foaf from being saved:</h2>

      <ul>
      <% @foaf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Your name, e.g. "Bob Smith"'%>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :slug, 'Your slug, e.g. "bsmith"' %>
    <%= f.text_field :slug %>
  </div>

  <div class="field">
    <%= f.label :work, "URI for Your Place of Work" %>
    <%= f.text_field :work, value: "http://library.princeton.edu" %>
  </div>

  <div class="field">
    <%= f.label :birthday, "Your Birthday" %>
    <%= f.text_field :birthday, placeholder: "yyyy-mm-dd", class: "datepicker" %>
  </div>

  <h3>Interests</h3>

<div class="field">
      <input name='foaf[interests_attributes]' type='hidden' id='e9' style='width:300px' value='' />
</div>

  <div class="actions">
    <%= f.submit "Create My FOAF!" %>
  </div>

  <script type="text/javascript">
    function movieFormatResult(result) {
        var markup = result.text;
        return markup;
    }

    function movieFormatSelection(result) {
        return result.text;
    }

    $(document).ready(function() {
      $('.datepicker').datepicker({
        format: 'yyyy-mm-dd'
      });

        function MultiAjaxAutoComplete(element, url) {
            $(element).select2({
                placeholder: "Search for an interest",
                minimumInputLength: 1,
                multiple: true,
                ajax: {
                    url: url,
                    dataType: 'json',
                    data: function(term, page) {

                        return {
                            q: term,
                            page_limit: 10,
                            //apikey: "z4vbb4bjmgsb7dy33kvux3ea" //my own apikey
                        };
                    },
                    results: function(data, page) {
                        return {
                            results: data.results
                        };
                    }
                },
                formatResult: formatResult,
                formatSelection: formatSelection,
                initSelection: function(element, callback) {
                    var data = [];
                    $(element.val().split(",")).each(function(i) {
                        var item = this.split(':');
                        data.push({
                            id: item[0],
                            text: item[1]
                        });
                    });
                    //$(element).val('');
                    callback(data);
                }
            });
        };

        function formatResult(movie) {
            return '<div>' + movie.text + '</div>';
        };

        function formatSelection(data) {
            return data.text;
        };

      Array.prototype.clean = function(deleteValue) {
        for (var i = 0; i < this.length; i++) {
          if (this[i] == deleteValue) {         
            this.splice(i, 1);
            i--;
          }
        }
        return this;
      };

    MultiAjaxAutoComplete('#e9', 'http://localhost:3000/fake.json');
    // works
    var set_val = [];
    <% @foaf.interests.each do |i| %>
        set_val.push("<%= i.id %>:<%= i.label %>");
    <% end %>
    console.log(set_val.clean(":").toString())
    // console.log(set_val.join('').split(',').toString())
    //set_val.join('').split(''); 
    $('#e9').select2('val', set_val);
    // $('#e9').select2('val', ['34:Donnie Darko','54:Heat','27:No Country for Old Men']);
    // not works
    // $('#e6').select2('val', '34:Donnie Darko,54:Heat,27:No Country for Old Men');
        $('#save').click(function() {
            alert($('#e9').val());
        });




      //var e9 = $('#e9');
      //console.log(JSON.stringify($(e9).select2('data')));
      //$("#e9").select2("val", "CA");
      //$("#e9").select2('data', '{id:1,text:"enhancement"}, {id:2,text:"bug"}');

      //$("#e9").select2("data", [{id: "CA", text: "California"},{id:"MA", text: "Massachusetts"}]);
/*
      $('#e9').select2('val', ['2:Domodedovo', '3:Vnukovo']);

  $("#e9").select2({

       placeholder: {title: "Search for an interest", id: "s"},
        minimumInputLength: 3,
        multiple: true,
        ajax: {
            url: "http://localhost:3000/fake.json",
            dataType: 'json',
            quietMillis: 100,
            data: function (term, page) { // page is the one-based page number tracked by Select2
                return {
                 
                    q: term, //search term
                    page_limit: 10, // page size
                    page: page, // page number
                    apikey: "ju6z9mjyajq2djue3gbvv26t" // please do not use so this example keeps working
                    
                };
            },
            results: function (data, page) {
                var more = (page * 10) < data.total; // whether or not there are more results available

                // notice we return the value of more so Select2 knows if more results can be loaded
                return {results: data.results, more: more};
            }
        },
        formatResult: movieFormatResult, // omitted for brevity, see the source of this page
        formatSelection: movieFormatSelection, // omitted for brevity, see the source of this page
        initSelection: function(element, callback) {
                        var data = [];
                        $(element.val().split(",")).each(function(i) {
                            var item = this.split(':');
                            data.push({
                                id: item[0],
                                title: item[1]
                            });
                        });
                        //$(element).val('');
                        callback(data);
                    }
        });
*/
    });
  </script>

<% end %>
