<%= form_for(@foaf) do |f| %>
  <% if @foaf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foaf.errors.count, "error") %> prohibited this foaf from being saved:</h2>

      <ul>
      <% @foaf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Your name, e.g. "Bob Smith"'%>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :slug, 'Your slug, e.g. "bsmith"' %>
    <%= f.text_field :slug %>
  </div>

  <div class="field">
    <%= f.label :work, "URI for Your Place of Work" %>
    <%= f.text_field :work, value: "http://library.princeton.edu" %>
  </div>

  <div class="field">
    <%= f.label :birthday, "Your Birthday (You can fake it!)" %> 
    <%= f.text_field :birthday, placeholder: "yyyy-mm-dd", class: "datepicker" %>
  </div>

  <h3>Interests</h3>

<div class="field">
      <input name='foaf[interests_attributes]' type='hidden' id='e9' style='width:300px' value='' />
</div>

  <div class="actions">
    <%= f.submit "Create My FOAF!" %>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.datepicker').datepicker({
        format: 'yyyy-mm-dd'
      });

        function MultiAjaxAutoComplete(element, url) {
            $(element).select2({
                placeholder: "Search for an interest",
                minimumInputLength: 1,
                multiple: true,
                ajax: {
                    url: url,
                    dataType: 'json',
                    data: function(term, page) {

                        return {
                            starts_with: term,
                            page_limit: 20,
                        };
                    },
                    results: function(data, page) {
                        return {
                            results: data.results
                        };
                    }
                },
                formatResult: formatResult,
                formatSelection: formatSelection,
                initSelection: function(element, callback) {
                    var data = [];
                    $(element.val().split(",")).each(function(i) {
                        var item = this.split(':');
                        data.push({
                            id: item[0],
                            label: item[1]
                        });
                    });
                    callback(data);
                }
            });
        };

        function formatResult(lcsh) {
            return '<div>' + lcsh.label + '</div>';
        };

        function formatSelection(data) {
            return data.label;
        };

      Array.prototype.clean = function(deleteValue) {
        for (var i = 0; i < this.length; i++) {
          if (this[i] == deleteValue) {         
            this.splice(i, 1);
            i--;
          }
        }
        return this;
      };

    // MultiAjaxAutoComplete('#e9', 'http://localhost:3000/interests');
    MultiAjaxAutoComplete('#e9', '<%= interests_path %>');

    var set_val = [];

      <% @foaf.interests.each do |i| %>
          set_val.push("<%= i.id %>:<%= i.label %>");
      <% end %>

    set_val = set_val.clean(":");
    if (set_val.length > 0 ){
      $('#e9').select2('val', set_val);
    }

    });
  </script>

<% end %>
