<div class="container">
  <header>
    <h1>FOAFs</h1>
  </header>
  <section prefix='dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/' resource='<%= "http://#{request.host}#{request.fullpath}#us" %>' typeof='foaf:Group'>
    <p><%= link_to 'Create a New FOAF', new_foaf_path %></p>
    <table style="margin-bottom: 1em;">
      <tbody>
        <% @foafs.each do |foaf| %>
          <tr>
            <td><%= foaf.name %></td>
            <td>( <%= link_to 'View', foaf, property: "foaf:member", typeof: "foaf:Person", resource: "#{request.url}/#{foaf.slug}#me"%> | <%= link_to 'Edit', edit_foaf_path(foaf) %> | <%= link_to 'Delete', foaf, method: :delete, data: { confirm: 'Are you sure?' } %> )</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <section>
    <p>There is RDF-a embedded in this page. Try pasting the URI into the <%= link_to 'W3C RDFa Distiller', 'http://www.w3.org/2012/pyRdfa' %></p>
    <p>You can also view this page in other formats:</p>
    <ul>
      <li><a href='<%= "#{foafs_path}.ttl" %>'>Turtle</a></li>
      <li><a href='<%= "#{foafs_path}.jsonld" %>'>JSON-LD</a></li>
      <li><a href='<%= "#{foafs_path}.rj" %>'>RDF JSON</a></li>
      <li><a href='<%= "#{foafs_path}.nt" %>'>N-Triples</a></li>
      <li><a href='<%= "#{foafs_path}.rdf" %>'>RDF/XML</a></li>
    </ul>
  </section>
  <p>
    <button id="redraw" onclick="redraw();">Redraw Graph</button>
  </p>
</div>

<section>
  <div id="canvas" style="margin: 0 auto 25px auto; padding: 0;"></div>
</section>


<script type="text/javascript">
<!--

var redraw;
var height = 1000;
var width = $(window).width()-50;

$('#canvas').width(width);

window.onload = function() {
    var g = new Graph();

    var render_rectangle = function(r, n) {
      var set = r.set().push(
        /* custom objects go here */
        r.rect(n.point[0]-30, n.point[1]-13, 62, 66).attr({"fill": "#fa8", "stroke-width": 2, r : "9px"})).push(
        r.text(n.point[0], n.point[1] + 20, n.label).attr({"font-size":"14px"}));
        return set;
      };

    <% foaf_array_to_graph(@foafs).each_statement  do |s| %>
    <% if shorten_namespace(s.object).start_with? 'lcsh' %>
    g.addNode("<%= shorten_namespace s.object %>", { label : "<%= Interest.find_by(uri: s.object.to_s).label %>" })
    <% end %>
    g.addEdge("<%= shorten_namespace s.subject %>", "<%= shorten_namespace s.object %>", { label : "<%= shorten_namespace s.predicate %>", directed : true });
    <% end %>

    /* layout the graph using the Spring layout implementation */
    var layouter = new Graph.Layout.Spring(g);
    layouter.layout();
    
    /* draw the graph using the RaphaelJS draw implementation */
    var renderer = new Graph.Renderer.Raphael('canvas', g, width, height);
    renderer.draw();
   
    redraw = function() {
        layouter.layout();
        renderer.draw();
    };
};

-->
</script>
