<h1>Listing foafs</h1>

<table>
  <thead>
    <tr>
      <th>Ident</th>
      <th>Name</th>
      <th>Work</th>
      <th>Birthday</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @foafs.each do |foaf| %>
      <tr>
        <td><%= foaf.ident %></td>
        <td><%= foaf.name %></td>
        <td><%= foaf.work %></td>
        <td><%= foaf.birthday %></td>
        <td><%= link_to 'Show', foaf %></td>
        <td><%= link_to 'Edit', edit_foaf_path(foaf) %></td>
        <td><%= link_to 'Destroy', foaf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foaf', new_foaf_path %>
