<p id="notice"><%= notice %></p>

<p>
  <strong>Ident:</strong>
  <%= @foaf.ident %>
</p>

<p>
  <strong>Name:</strong>
  <%= @foaf.name %>
</p>

<p>
  <strong>Work:</strong>
  <%= @foaf.work %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @foaf.birthday %>
</p>

<%= link_to 'Edit', edit_foaf_path(@foaf) %> |
<%= link_to 'Back', foafs_path %>
