<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @interest.label %>
</p>

<p>
  <strong>Uri:</strong>
  <%= @interest.uri %>
</p>

<p>
  <strong>Foaf:</strong>
  <%= @interest.foaf %>
</p>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
